.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.linklist{
  display: flex;
  margin-left: auto;
  gap: 30px;
  list-style-type: none;
  padding-right: 20px;
}
.linklist li a{
  text-decoration: none;
}